button:active {
  background-color: #6496fa;
}

.go-back-btn {
  margin: 20px auto;
  padding: 0;
  border-radius: 5px;
}

.go-back-btn a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.map {
  margin: 30px 5% ;
}

.comments {
  display: flex;
  vertical-align: top;
  margin: 0 5%;
  margin-bottom: 30px;
  background-color: #6496fa;
}

.comment-form,
.related-comments {
  width: 60%;
  text-align: left;
  padding: 0 5% 10px;
}

.comment-form {
  width: 40%;
}

.related-comments div {
  margin-top: 10px;
}

.slider-carousel {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}


agm-map {
  margin: 0 auto;
  height: 300px;
  width: 100%;
}
