<div class="mountain-details">

  <h2>Mountain "{{ mountain.mountain | uppercase }}"</h2>

  <p class="country">
    <b>Country: </b><span>{{ mountain.country }}</span>
  </p>

  <p class="height">
    <b>Height: </b><span>{{ mountain.height }} m.</span>
  </p>

  <div class="slider-carousel">
    <app-carousel [imagesSrc]="mountain.img"></app-carousel>
  </div>

  <button class="go-back-btn">
    <a routerLink="../" [queryParams]="queryParams">Go back to List <b>&#8634;</b></a>
  </button>

  <div class="comments">

    <div class="related-comments">
      <h3>Related comments:</h3>

      <div>
        <b>{{mountain.login}}:</b><br/>
        <span>{{mountain.comment}}</span>
      </div>

      <div *ngFor="let comment of comments">
        <b>{{comment.user}}:</b><br/>
        <span><i>{{comment.comment}}</i></span>
      </div>
    </div>

    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="sendComment()">
      <label>
        <h3>Leave comment:</h3>
        <textarea class="textarea" formControlName="comment"></textarea><br/>
        <button>Send comment</button>
      </label>
    </form>

  </div>

  <div class="map">
    <agm-map [latitude]="mountain.lat" [longitude]="mountain.lng" [scrollwheel]="false">
      <agm-marker [latitude]="mountain.lat" [longitude]="mountain.lng"></agm-marker>
    </agm-map>
  </div>

</div>
