<div class="list-item">

  <h2>{{ mountain.mountain | uppercase }}:</h2>

  <div class="column-left">
    <img [src]="mountain.img" [alt]="mountain.mountain" />
  </div>

  <div class="column-right">
    <div class="country">
      <h3>Country:</h3>
      {{ mountain.country }}
    </div>
    <div class="height">
      <h3>Height:</h3>
      {{ mountain.height }} m.
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
      <label>
        <h3>Leave comment:</h3>
        <textarea formControlName="comment" rows="5" cols="20"></textarea>
        <button type="submit">Send comment</button>
      </label>
    </form>
    <div>
      <h4>Related comments:</h4>
      <div *ngFor="let comment of comments">
        <i>{{comment}}</i>
      </div>
    </div>
  </div>

  <button (click)="goBack()">Go back</button>

</div>

<!-- TODO form and link back whith navLink -->
