ul {
  list-style: none;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: left;
  font-size: 24px;
}

li a {
  display: block;
  margin: 5px;
  padding: 10px;
  background: #6496fa;
  border: 5px solid #6496fa;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.filter {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px 10px;
  width: 70%;
  background-color: #F08080;
  border-radius: 5px;
}

.map {
  width: 80%;
  margin: 30px auto;
  padding: 0;
  background-color: none;
  border-radius: none;
  border: thin solid black;
}

agm-map {
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.marker {
  width: 30px;
  height: 30px;
  border: thin solid red;
}
