form {
 width: 50%;
 margin: 5px auto;
 padding: 5px;
 background-color: #F08080;
 border: thin solid grey;
}

label {
  display: block;
  margin: 10px;
}

.error {
  margin: 10px;
  font-style: italic;
  color: red;
}

.fatal {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  border: thin solid red;
}
