.form {
  width: 50%;
  margin: 30px auto;
  padding: 5px;
  background-color: #F08080;
  border: thin solid grey;
}

.field {
  width: 70%;
  text-align: right;
  margin: 0 auto;
}

@media (max-width: 748px) {
  .field {
    width: 90%;
  }
}

.form label {
  display: block;
  margin: 10px;
}

.form button {
  margin-top: 5px;
  margin-right: 10px;
}

.form button:active {
  background-color: #6496fa;
}

.error {
  margin: 10px;
  font-style: italic;
  color: red;
}

.fatal {
  margin: 10px;
  padding: 10px;
  font-style: italic;
  background-color: white;
}

.lnk {
  float: right;
  font-style: italic;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
