.slider {
  position: relative;
  height: 10px;
  width: 300px;
  margin: 10px 5px;
  background-color: white;
  margin: 10px auto;
}

.left-handle,
.right-handle {
  position: absolute;
  top: -5px;
  height: 20px;
  width: 10px;
  background-color: black;
}

.left-handle {
  left: -5px;
}

.right-handle {
  right: 0px;
  background-color: green;
}
