<div class="carousel-div" (swipe)="onSwipe($event)">

  <ul class="carousel-container" [style.left]="containerPosition">
    <li class="carousel-item"
      [style.width.px]="containerSize.width"
      [style.height.px]="containerSize.height"
      *ngFor="let slide of imagesSrc">
      <img class="carousel-img" [src]="slide" />
    </li>
  </ul>

  <ul class="carousel-controls">
    <li class="carousel-controls-item"
    *ngFor="let control of imagesSrc; let i=index;"
    [class.active]="currentSlide === i">
      <button (click)="setControl(i)"></button>
    </li>
  </ul>

  <button class="carousel-prev-button" (click)="prevSlide()">&#8249;</button>
  <button class="carousel-next-button" (click)="nextSlide()">&#8250;</button>

</div>
