ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  text-align: left;
  font-size: 24px;
}

li a {
  display: block;
  margin: 5px;
  padding: 10px;
  background: #6496fa;
  border: 5px solid #6496fa;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

div {
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  background-color: #8FBC8F;
  border: thin solid grey;
}
