<div class="mountain-details">

  <h2>{{ mountain.mountain | uppercase }}:</h2>

  <div class="column-left">
    <img [src]="mountain.img" [alt]="mountain.mountain" />
  </div>

  <div class="column-right">
    <div class="country">
      <h3>Country:</h3>
      {{ mountain.country }}
    </div>
    <div class="height">
      <h3>Height:</h3>
      {{ mountain.height }} m.
    </div>

    <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
      <label>
        <h3>Leave comment:</h3>
        <textarea formControlName="comment" rows="5" cols="25"></textarea><br/>
        <button>Send comment</button>
      </label>
    </form>

    <div>
      <h4>Related comments:</h4>

      <div>
        <span class="login">{{login}}:</span><br/>
        <span class="comment">{{comment}}</span>
      </div>

      <div *ngFor="let comment of comments">
        <span class="login">{{currentUser}}:</span><br/>
        <span><i>{{comment}}</i></span>
      </div>

    </div>
  </div>

  <button><a routerLink="../" [queryParams]="queryParams">Go back</a></button>

  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

</div>
