form {
  display: block;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

div {
  width: 70%;

}
button {
  display: block;
  width: 20%;
  height: 50px;
  margin-left: 10px;
}

button:active {
  background-color: #6496fa;
}

select {
  margin: 5px;
}

label {
  cursor: pointer;
}

.search-field,
span {
  display: block;
  margin-bottom: 5px;
}
