<form action="send">
  <div>
    <select name="height" id="">
      <option selected>Sort by height</option>
      <option value="highest first">Highest first</option>
      <option value="smallest first">Smallest first</option>
    </select>
    <select name="alphabetically" id="">
      <option selected>Sort by name</option>
      <option value="highest first">A - Z</option>
      <option value="smallest first">Z - A</option>
    </select>
    <span>
      <input type="radio" name="height" value="4000">4000+
      <input type="radio" name="height" value="5000">5000+
      <input type="radio" name="height" value="6000">6000+
    </span>
  </div>

  <button>Sort</button>
</form>
