<form class="login-form" [formGroup]="form" (ngSubmit)="login()" *ngIf="isPlatformBrowser()">

  <button class="register" (click)="startRegistration()">Register</button>

  <h3>Authentication Form</h3>

  <div *ngIf="form.errors?.incorrectLoginOrPassword" class="error fatal">
    Please check e-mail and password are correct!
  </div>

  <label>
    Der Login:
    <input class="login" type="email" placeholder="admin@gmail.com" formControlName="email">
  </label>
  <div class="error" *ngIf="form.controls.email.errors?.email">
    Email not valid.
  </div>

  <label>
    Der Parol:&nbsp;
    <input class="password" type="password" placeholder="123" formControlName="password">
  </label>
  <div class="error" *ngIf="form.controls.password.errors?.minlength">
    Password not valid.
  </div>

  <button [disabled]="!form.valid" type="submit">Submit</button>

</form>

<!-- modal-register-form -->

<div *ngIf="modal" id="modal-overlay" (click)="manageModal()"></div>
<div *ngIf="modal" id="modal-container">
  <span class="modal-close" (click)="manageModal()">&#10006;</span>
  <form class="reg-form" [formGroup]="regForm" (ngSubmit)="register()">

    <h3>Register New User</h3>

    <label>
      E-mail/Login:
      <input class="login" type="email" placeholder="example@email.com" formControlName="regEmail">
    </label>

    <div class="error" *ngIf="regForm.controls.regEmail.errors?.email">
      Email not valid.
    </div>

    <label>
      Password:
      <input class="password" type="password" formControlName="regPassword">
    </label>

    <label>
      Confirm Password:
      <input class="password" type="password" formControlName="confirmPassword">
    </label>

    <div class="error" *ngIf="regForm.controls.confirmPassword.errors?.noMatch">
      Passwords don't match!
    </div>

    <button [disabled]="!regForm.valid" type="submit">Register</button>

    <div *ngIf="regStatus" class="reg-status">
      {{ regStatus }}
    </div>

  </form>
</div>
