<form [formGroup]="form" (keydown.Enter)="loginByEnter($event)" (ngSubmit)="login()">

  <h3>Authentication Form</h3>

  <div *ngIf="form.errors?.incorrectLoginOrPassword" class="error fatal">
    Please check e-mail and password are correct!
  </div>

  <label>
    Der Login:
    <input type="email" placeholder="admin@gmail.com" formControlName="email">
  </label>
  <div class="error" *ngIf="form.controls.email.errors?.email">
    Email not valid.
  </div>

  <label>
    Der Parol:
    <input type="password" placeholder="123" formControlName="password">
  </label>
  <div class="error" *ngIf="form.controls.password.errors?.minlength">
    Password not valid.
  </div>

  <button type="submit">Submit</button>

</form>
