form {
 width: 50%;
 margin: 5px auto;
 padding: 5px;
 border: thin solid grey;
}

label {
  display: block;
  margin: 5px;
}

.logged-out,
.logged-in {
  margin: 10px;
  font-style: italic;
  color: red;
}

.logged-in {
  color: green;
}
