<div class="reg-container">

  <a class="login" routerLink="/login">Login</a>

  <form class="reg-form" [formGroup]="regForm" (ngSubmit)="register()">

    <h3>Register New User</h3>

    <label>
      E-mail/Login:&#160;
      <input class="login" type="email" placeholder="example@email.com" formControlName="regEmail">
    </label>

    <div class="error" *ngIf="regForm.controls.regEmail.errors?.email">
      Email not valid.
    </div>

    <label>
      Password:
      <input class="password" type="password" formControlName="regPassword">
    </label>

    <label>
      Confirm Password:
      <input class="password" type="password" formControlName="confirmPassword">
    </label>

    <div class="error" *ngIf="regForm.controls.confirmPassword.errors?.noMatch">
      Passwords don't match!
    </div>

    <button [disabled]="!regForm.valid" type="submit">Register</button>

    <div *ngIf="regStatus" class="reg-status">
      {{ regStatus }}
    </div>

  </form>

</div>
