<form class="form" [formGroup]="form" (ngSubmit)="register()">

  <a class="lnk" routerLink="/login">Login</a>
  <h3>Register New User</h3>

  <div class="field">
    <div *ngIf="regStatus" class="fatal">
      {{ regStatus }}
    </div>
    
    <label>
    E-mail/Login:
    <input class="login" type="email" placeholder="example@email.com" formControlName="email">
  </label>

    <div class="error" *ngIf="form.controls.email.errors?.email">
      Email not valid.
    </div>

    <label>
    Password:
    <input class="password" type="password" formControlName="password">
  </label>

    <label>
    Confirm Password:
    <input class="password" type="password" formControlName="confirmPassword">
  </label>

    <div class="error" *ngIf="form.errors?.notMatching">
      Passwords don't match!
    </div>

    <button [disabled]="!form.valid" type="submit">Register</button>
  </div>

</form>
